<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-light m-b-xs">
            Dashboard
          </h2>
          <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
              <li class="active">
                <span>Dashboard</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="hpanel">
      <select onchange="resetbins(this.value)" name="select_area" id="select_ward" class="form-control">
        <option value="">Select Ward</option>
        <%
        if(wards.length){
          for(var key in wards) { %>
        <option value="<%= wards[key].id %>"><%= wards[key].name %>
        </option>
        <% }
        } %>

      </select>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="hpanel">
      <select onchange="resetbins(this.value)" name="select_driver" id="select_driver" class="form-control">
        <option value="all">All Driver</option>
        <%
        if(drivers.length){
          for(var key in drivers) { %>
        <option value="<%= drivers[key].id %>"><%= drivers[key].name %>
        </option>
        <% }
        } %>

      </select>
    </div>
  </div>
  <!--<div class="col-lg-3">-->
    <!--<div class="hpanel">-->
      <!--Show Filled Bins<input onclick="resetbins(this.value)" class="form-control" type="checkbox" name="show_filled" value="1">-->
    <!--</div>-->
  <!--</div>-->
</div>
<div class="col-lg-12">
  <div id="map-canvas"></div>
  <div class="hpanel">
    <div class="panel-body">
      <table id="bin-grid-searchpage"></table>
      <div id="bin-grid-pager-searchpage"></div>
    </div>
  </div>
</div>
</div>
